:root {
  --black: #222222;
  --blue: #003fa2;
  --gray: #a5a5a5;
  --green: #4eba74;
  --lightblue: #4ba6de;
  --orange: #eb7e39;
  --purple: #8c78cf;
  --red: #dd463c;
  --white: #ffffff;
  --yellow: #f1bd4a;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  background-color: white;
  margin-bottom: 60px;
}

/* header */
header {
  /* background-color: var(--blue); */
  background: -webkit-linear-gradient(top left, #003fa2, #4ca6de);
  background: -moz-linear-gradient(top left, #003fa2, #4ca6de);
  background: linear-gradient(to bottom right, #003fa2, #4ca6de);
}
.content {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-sm {
  height: 50px;
}
.logo {
  height: 60px;
}
nav {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}
nav .content {
  padding: 12px 0;
  display: flex;
}
nav p {
  margin-bottom: 0;
  color: #333;
}

/* barcolor */
.barcolor {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.barcolor .item {
  height: 6px;
}
.barcolor .item-1 {
  background-color: var(--blue);
}
.barcolor .item-2 {
  background-color: var(--purple);
}
.barcolor .item-3 {
  background-color: var(--red);
}
.barcolor .item-4 {
  background-color: var(--orange);
}
.barcolor .item-5 {
  background-color: var(--yellow);
}
.barcolor .item-6 {
  background-color: var(--green);
}

/* footer */
footer {
  background-color: var(--blue, black);
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer .content {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer p {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  /* header */
  .content {
    padding: 15px 0;
  }
  .logo-sm {
    height: 38px;
  }
  .logo {
    height: 48px;
  }

  nav {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
  }

  nav .content {
    padding: 6px 0;
    display: flex;
  }

  nav p {
    margin-bottom: 0;
    color: #333;
  }

  /* footer */
  footer {
    background-color: var(--blue, black);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  footer .content {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer p {
    margin-bottom: 0;
  }
}
